
:root {
  --my-monospace-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --my-bg-color: #fff;
  --my-link-color: navy;
  --my-header-link-color: black;
  --small-font-size: 75%;

  --border: #ccc;
  --standard-border-radius: 5px;
}

body {
  font-family: var(--my-monospace-code);

  /* fluid sizing: https://frontaid.io/blog/fluid-typography-2d-css-locks-clamp/ */
  font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);

  background-color: var(--my-bg-color);
  color: #111;

  /* should be about 50-70 characters wide */
  max-width: 70ch;

  /* larger spacing on larger screens, very small spacing on tiny screens */
  padding: calc(1vmin + .5rem);

  /* shorthand for margin-left/margin-right */
  margin-inline: auto;

    /* border: thin solid gray;
    border-radius: 5px;
    display: block; */
}

/* Typographical settings */
h1, h2, h3 {
  line-height: 1.1rem;
}

h1 {
  font-size: 2.35em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}


small, sub, sup {
  font-size: var(--small-font-size);
}

/* styling for nav */
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul a {
  padding: 0.5em 1em 0.5em 0;
  display: block;

}

/* nav li {
  border: 1px solid var(--border);
  border-radius: var(--standard-border-radius);
  margin: 0 0.5em;
} */

hgroup  h1  a:hover, hgroup  h1  a:visited, hgroup h1  a:link {
  text-decoration: none;
}

header a:link {
  color: var(--my-header-link-color);
  text-decoration: underline;
}

header a:hover,
header a:visited {
    color: var(--my-header-link-color);
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
}



main a:link {
    color: var(--my-link-color);
    text-decoration: none;
}

main a:hover,
main a:visited {
    color: var(--my-link-color);
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
}


/* styling for code */


/* for articles */
article {
  padding: 0 0 0.75em 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.75em;
}

article p {
  margin: 0 0 0.8em 0;
}

article footer {
  font-size: var(--small-font-size);
  margin-top: 1em;
  /* border-top: 1px solid #8a55a8; */
  padding-top: 0.5em;
}