@import url("normalize.css");

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

 audio,
 canvas,
 iframe,
 img,
 svg,
 video {
   vertical-align: middle;
 }

/* ##########*/
/* Vars      */
/* ##########*/

:root {
  --my-monospace-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  --my-neo-grotesque:  Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

  --standard-border-radius: 5px;

  --h1-font-size: 2em;
  --h2-font-size: 1.512em;
  --h3-size: 1.429em;
  --base-font-size: 1em;
  --small-font-size: 75%;

/* 20px h4 font-size: 1.286em */
/* 18px h5 font-size: 1.143em */
/* 16px h6 font-size: 1em     */

  /* this needs to be the same for dark and light */
  --figure-background: #f8f8f8;


  /*------------*/
  /* light mode */
  /*------------*/
  --text-primary: #11191f;
  --text-secondary: #4e4e4e;
  --text-active:#858585;  
  --text-link: #0069c2;
  --text-visited: #551a8b;

  --bg-primary:#fff;
  --border: #cdcdcd;

  --bg-secondary: ;

  --code-background-color: #f9fafb;
  --code-color: hsl(205, 10%, 50%);
}

/* ##################### */
/* styling for darkmode  */
/* ##################### */
.dark {

  --text-primary: #fff;
  --text-secondary: #cdcdcd;
  --text-active: #858585;
  --text-link: #8cb4ff;
  --text-visited: #ffadff;

  --bg-primary: #11191f;
  --bg-secondary:#131d25;
  --border: #858585;

  --code-background-color: #18232c;
  --code-color:hsl(205, 10%, 50%);
}

/* ####################### */
/* styling for typography  */
/* ####################### */


body {
  font-family: var(--my-neo-grotesque);

  /* fluid sizing: https://frontaid.io/blog/fluid-typography-2d-css-locks-clamp/ */
  font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);

  background-color: var(--bg-primary);
  color: var(--text-primary);

  /* should be about 50-70 characters wide */
  max-width: 70ch;

  line-height: 1.5em;

  /* larger spacing on larger screens, very small spacing on tiny screens */
  padding: calc(1vmin + .5rem);

  /* shorthand for margin-left/margin-right */
  margin-inline: auto;
}

/* Typographical settings */
h1, h2, h3 {
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.032em;
  color: var(--text-primary);
}

/* Headings */
h1 {
	font-size: var(--h1-font-size);
}

h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-size);
}

small, sub, sup {
  font-size: var(--small-font-size);
}

hr {
  color: var(--border);

}

/* ################ */
/* styling for nav  */
/* ################ */

h1, h2, h3, nav {
  font-family: var(--my-monospace-code);
}

nav a {
  color: var(--text-secondary)
}


nav {
  justify-content: space-between;
}

nav, nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin:0.5em 0em;

}

nav ul li {
  padding: 0em 0.5em 0% 0;
  display: block;
	font-size: var(--h2-font-size);
  letter-spacing: -0.032em;
}

/* style the little logo box  in the nav */
/* strong element should be the logo */
nav ul li strong {
  font-weight: 600;
  color: var(--text-primary);
}

nav  a:visited, nav a:link {
  text-decoration: none;
}

nav  a:hover {
  color: var(--text-link);
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
}


/* ########################### */
/* styling for main & article  */
/* ########################### */

main a:link {
    color: var(--text-link);
    text-decoration: underline;

}

main a:hover, main a:focus {
    /* color: var(--primary-hover); */
    /* text-decoration-thickness: 0.1em; */
    text-decoration: none;

}

main a:visited {
  color: var(--text-visited);
  text-decoration: underline;

  /* text-decoration: underline; */
  /* text-decoration-thickness: 0.1em; */
}


/* article */
article {
  padding: 0 0 0.75em 0;
  border-bottom: 1px solid var(--border);
  margin-bottom: 0.75em;
}

article header span{
  font-size: var(--small-font-size);
}
article header h3{
  margin: 0em 0  0 0 ; 
}
article header {
  margin: 1.5em 0 1em 0; 
}

article p {
  margin: 0 0 0.8em 0;
}

article footer {
  font-size: var(--small-font-size);
  margin-top: 1em;
  /* border-top: 1px solid #8a55a8; */
  padding-top: 0.5em;
}

article img {
  max-width: 100%;
  height: auto;
}

/* footer */

footer {
  font-size: var(--small-font-size);
}

address {
  font-style: normal;
  display: inline;
}

 dl dt, dl dd {
  display: inline;
}

/* block quotes */
blockquote {
  margin-inline-start: 2rem;
  margin-inline-end: 0;
  margin-block: 2rem;
  padding: 0.4rem 0.8rem;
  color: var(--text-light);
  font-style: italic;
}



/* address and date should both be inline
article footer address, footer time {
  display: inline;
} */
/* ----- */
/* code  */
/* ----- */


/* Pre and Code */
pre {
  background-color: var(--code-background-color);
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem;
  font-size: 0.9em;
}

code, kbd, samp {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: var(--code-background-color);
  white-space: pre-wrap;
}

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
  font-size: 1em;
}

/* form styling  */
/* source: simple.css */
textarea,
select,
input,
button,
.button {
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: var(--standard-border-radius);
  box-shadow: none;
  max-width: 100%;
  display: inline-block;
}
textarea,
select,
input {
  color: var(--text);
  background-color: var(--bg-primary);
  border: 1px solid var(--border);
}
label {
  display: block;
}
textarea:not([cols]) {
  width: 100%;
}

/* Makes input fields wider on smaller screens */
/* @media only screen and (max-width: 720px) {
  textarea,
  select,
  input {
    width: 100%;
  }
} */

fieldset {
  border: 0;
}


/* #################### */
/* Some Utility classes */
/* #################### */

/* figure class */
.figure {
  margin: 0.5em 0;
  background-color: var(--figure-background);
}

/* Classes for notices */
.notice {
  background: var(--bg-secondary);
  border: 2px solid var(--border);
  border-radius: var(--standard-border-radius);
  padding: 1.5rem;
  margin: 2rem 0;
}


/* ############################### */
/* styling for dark toggle button  */
/* ############################### */

body.dark #moon{
  display: none;
}
body:not(.dark) #sun{
  display: none;
}

#theme-toggle svg {
  /* height: 1.512em; */
  color: var(--text-primary);
  cursor: pointer;
  vertical-align: baseline;

}

#theme-toggle {
  background-color: var(--bg-primary);
  border: none;
  padding: 0;
  margin: 0;
}

#theme-toggle svg:hover {
  color: var(--text-link);
  border: none;
}

.gentle-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}
