# pelican nonsense
output/*
cache/
# this is just for convenience, so I remember the default theme I'm extending
themes/simple/  

# python caching nonsense
*.pyc
.mypy_cache
__pycache__/

# MacOS nonsense
.DS_Store

# node and js nonsense
node_modules/