{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME|striptags }} - {{ page.title|striptags }}{% endblock %}

{% block meta_desc %}
<meta name="description" content="{{ page.summary|striptags|truncate(160, killwords=True, end='') }}" />
{% endblock meta_desc %}


{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>{{ page.title }}</h1>
          </header>
          {% import 'translations.html' as translations with context %}
          {{ translations.translations_for(page) }}

    {{ page.content }}
    <ul>
    {% for article in dates[:4] -%}
        <li><time datetime="{{ article.date.strftime('%Y-%m-%d') }}">{{ article.date.strftime('%Y-%m-%d') }}</time> — <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
    {%- endfor %}
    </ul>

    </article>

{#
{% if articles_page.has_other_pages() %}
{% include 'pagination.html' %}
{% endif %}
#}
{% endblock %}
