{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME|striptags }} - {{ page.title|striptags }}{%endblock%}

{% block meta_desc %}
<meta name="description" content="{{ page.summary|striptags|slice(140) }}" />
{% endblock meta_desc %}


{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
  {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
<article>
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(page) }}

  {{ page.content }}

  {% if page.modified %}
  <footer>
    <p>
      Last updated: {{ page.locale_modified }}
    </p>
  </footer>
  {% endif %}
</article>
{% endblock %}